
<%
    var topType = data.topType;
%>

<% include  header.html %>
        <section id="content" class="works bgGrey margTop ofsBottom tCenter">
            <div class="container">
                <div class="sixteen columns tCenter bigTitle">
                    <!--<h2>About Me</h2>-->
                </div>
            </div>
            <div class="container">
                <div class="about-alt-holder bgWhite">
                    <div class="eight about-intro columns tLeft"><br>
                        <h1>CJB: Like a dog</h1><br>
                    </div>
                    <div class="eight about-intro columns tRight"><br>
                    </div>
                </div>
            </div>

            <div class="container row">
                <div class="about-alt-holder bgWhite">
                    <div class="col-lg-4 tRight"><br>
                        <img src="/img/dog.png" alt="" width="250px">
                    </div>
                    <div class="col-lg-8 about-intro columns tLeft"><br>
                        <p><strong>CJB</strong></p><br>
                        <p>Shiba is medium-sized and the oldest dog. They are able to cope with the steep hills and mountain slopes, with keen senses, which has become a good hunting dog dog.</p><br>
                        <p>Shiba lively and active; for their love of toys, will play all day long. Foreign strong vigilance headed guard: especially for large ones, and unyielding. Mice and birds in the grass will be their prey and toys.</p><br>
                        <p>They are Japanese national treasure, the common red Shiba price 6000 yuan to 30000 yuan. The other Zhejiang, has been in the dialect of dog called relatives in tube Shiba, Chinese pastoral dogs.</p><br>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="about-alt-holder bgWhite">
                    <div class="col-lg-8 about-intro columns tRight"><br>
                        <p><strong>CJB</strong></p><br>
                        <p>Shiba is medium-sized and the oldest dog. They are able to cope with the steep hills and mountain slopes, with keen senses, which has become a good hunting dog dog.</p><br>
                        <p>Shiba lively and active; for their love of toys, will play all day long. Foreign strong vigilance headed guard: especially for large ones, and unyielding. Mice and birds in the grass will be their prey and toys.</p><br>
                        <p>They are Japanese national treasure, the common red Shiba price 6000 yuan to 30000 yuan. The other Zhejiang, has been in the dialect of dog called relatives in tube Shiba, Chinese pastoral dogs.</p><br>
                    </div>
                    <div class="col-lg-4 columns tLeft"><br>
                        <img src="/img/dog2.png" alt="" width="300px">
                    </div>
                </div>
            </div>
        </section>
<% include  footer.html %>