
<%
    var topType = data.topType;
%>

<% include  header.html %>
        <section id="content" class="works bgGrey margTop ofsBottom tCenter">
            <div class="container">
                <div class="sixteen columns tCenter bigTitle">
                    <!--<h2>About Me</h2>-->
                </div>
            </div>
            <div class="container">
                <div class="about-alt-holder bgWhite">
                    <!--<div class="eight about-intro columns tLeft"><br>-->
                        <!--<h1>CJB: Like a dog</h1><br>-->
                    <!--</div>-->
                    <!--<div class="eight about-intro columns tRight"><br>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="container row">
                <div class="about-alt-holder bgWhite">

                    <div class="col-lg-8">
                        <div class="about-intro columns tLeft"><br>
                            <p><strong>JIAPEICAI</strong></p><br>
                            <p>
                                Born in 1996, Guangdong. China<br><br>

                                Education<br><br>

                                B.A., Photography & Media Studio, Sichuan University of Media<br><br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4"><br>
                        <img src="/img/jp.jpg" alt="" width="180px" style="margin-bottom: 20px">
                    </div>

                </div>
            </div>

        </section>
<% include  footer.html %>