
<%
    var topType = data.topType;
%>

<% include  header.html %>
<!--<script>-->
    <!--window.onload=function(){-->
        <!--$('#loading').hide();-->
        <!--$('#content').show();-->
    <!--}-->

<!--</script>-->
        <!--<div id="loading" class="works margTop ofsBottom tCenter">-->
            <!--<img style="margin-top: 10%; margin-bottom: 10%" src="/img/loading.gif" alt="">-->
        <!--</div>-->
        <section id="content" class="works bgGrey margTop ofsBottom tCenter">
            <div class="container">
                <div class="sixteen columns tCenter bigTitle">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="container">
                <div class="works-holder clearfix">

                </div>
            </div>
        </section>
<% include  footer.html %>