<!--Footer-->
<footer class="footer-opaque ofsInMTop ofsInMBottom footer">
    <div class="container">
        <div class="eight columns rights">
            <p><a href="/admin">© 2017 CAIJIAPEI</a></p>
        </div>
        <div class="eight columns tRight">
            <ul class="socials-footer socials">
                <!--<li>WeChat: buzhidao</li>-->
                <li><a target="_blank" href="http://weibo.com/u/1733462632">Weibo</a></li>
            </ul>
        </div>
    </div>
</footer>