
<div id="loader" style="display: none;">
    <div id="loaderInner" style="display: none;">
        <div class="loaderBars">
            <span class="bar1 bar"></span>
            <span class="bar2 bar"></span>
            <span class="bar3 bar"></span>
        </div>
        <!-- /.loaderBars -->
    </div>
    <!-- /#loaderInner -->
</div>
<!-- /#loader -->
<!--<div id="wrapper">-->
    <header class="header">
        <div class="nav-bar">
            <div class="container">
                <div class="main-nav">
                    <div class="four columns">
                        <a href="/">
                            <img class="logo" alt="Logo" src="/img/logo.png">
                        </a>
                    </div>
                    <div class="twelve columns tRight nav-holder">
                        <a href="/about" class="mobile-btn"><i class="ti-menu"></i></a>
                        <nav class="menu-holder main-nav">
                            <ul class="menu" id="navbar">
                                <li class="nb"><a href="/">HOME</a></li>
                                <li class="nb"style="margin-right: 20px"><a href="/about">About</a></li>
                        <% for(var i in allType){ %>
                                <li class="nb"><a href="/t/<%- allType[i].name %>"><%- allType[i].name %></a></li>
                        <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>