<%
    var allType = data.allType;
%>
<% include header.html %>
<!--<script>-->
    <!--window.onload=function(){-->
        <!--$('#loading').hide();-->
        <!--$('#content').show();-->
    <!--}-->

<!--</script>-->
<!--<div id="loading" class="works margTop ofsBottom tCenter">-->
    <!--<img class="margHHTop" src="/img/loading.gif" alt="">-->
<!--</div>-->
<section id="content"  class="works bgGrey margTop ofsBottom tCenter">
            <div class="row margHBottom margHTop">
                <div class="col-lg-4 col-lg-offset-4">
                    <img class="center-block" src="img/cm.png">
                    <h2 class="center-block">Under Construction...</h2>
                </div>
            </div>
        </section>
<% include footer.html %>