
        <section class="whois bgGrey hero tCenter" style="height: 814px;">
            <div class="container hero" style="height: 814px;">
                <div class="sixteen columns">
                    <div class="about-alt-holder">
                        <img alt="chenman" class="logo" src="img/cm.png">
                    </div>
                    <div class="about-alt-holder">
                        <h2>Under Construction...</h2>
                    </div>
                </div>
                <!-- /.sixteen columns -->
            </div>
            <!-- /.container -->
        </section>