<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CAIJIAPEI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--<link href="css/font.css" rel="stylesheet" type="text/css">-->
    <link href="/css/fontello.css" rel="stylesheet" type="text/css">
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/cm.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="/css/fotorama.css" rel="stylesheet" type="text/css">
    <link href="/css/venobox.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/fotorama.css" rel="stylesheet" type="text/css">

    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="/assets/sites/css/ie9.css.html" />
    <![endif]-->
</head>

<body>

    <%- body %>

</div>
<!-- /#wrapper -->
<script src="/js/hm.js"></script>
<!--<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>-->
<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/js/jquery-migrate-1.2.1.js" type="text/javascript"></script>
<script src="/js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="/js/venobox.min.js" type="text/javascript"></script>
<script src="/js/masonry.min.js" type="text/javascript"></script>
<script src="/js/spectragram.min.js" type="text/javascript"></script>
<script src="/js/modernizr.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/fotorama.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/navbar.js" type="text/javascript"></script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c21854259d54a43e08df0fbb2a80e0cd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
    <!--<script>-->

        <!--$(document).ready(function () {-->

            <!--let type = window.location.href.split('/').pop();-->

            <!--for(let i=0; i <= $('#fotolength').text()/4; i++){-->
                <!--$.ajax({-->
                    <!--type: 'GET',-->
                    <!--async: false,-->
                    <!--url: '/foto/' + type + '/' + i-->
                <!--}).done((res) => {-->
                    <!--console.log(res);-->
                    <!--let html = '<div class="row">';-->
                    <!--for(let j in res){-->
                        <!--html += '<div>\-->
                    <!--<div class="col-md-3">\-->
                        <!--<div class="work-img">\-->
                        <!--<a href="/pic/'+ type + '/' + res[j].name + '" class="venobox vbox-item">\-->
                        <!--<img alt="" class="" src="/pic/'+ type + '/' + res[j].name + '" >\-->
                        <!--</a>\-->
                        <!--</div>\-->
                        <!--<div class="" style="margin-bottom: 30px">\-->
                        <!--<div class="info-inner">\-->
                        <!--<h3>'+ res[j].name.substring(0, res[j].name.lastIndexOf('.')) +'</h3>\-->
                        <!--<p><span>'+ res[j].des +'</span></p>\-->
                        <!--</div>\-->
                        <!--</div>\-->
                        <!--</div>\-->
                        <!--</div>'-->
                    <!--}-->
                    <!--html+='</div>';-->
                    <!--$('#lines').append(html)-->
                <!--})-->
            <!--}-->
        <!--});-->

    <!--</script>-->

</body>
</html>