<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CAIJIAPEI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/skeleton.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/base.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--<link href="css/font.css" rel="stylesheet" type="text/css">-->
    <link href="css/fontello.css" rel="stylesheet" type="text/css">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="css/cm.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="css/fotorama.css" rel="stylesheet" type="text/css">
    <link href="css/venobox.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/fotorama.css" rel="stylesheet" type="text/css">
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="/assets/sites/css/ie9.css.html" />
    <![endif]-->
</head>

<body>
<div id="loader" style="display: none;">
    <div id="loaderInner" style="display: none;">
        <div class="loaderBars">
            <span class="bar1 bar"></span>
            <span class="bar2 bar"></span>
            <span class="bar3 bar"></span>
        </div>
        <!-- /.loaderBars -->
    </div>
    <!-- /#loaderInner -->
</div>
<!-- /#loader -->
<div id="wrapper">
    <header class="header">
        <div class="nav-bar">
            <div class="container">
                <div class="main-nav">
                    <div class="four columns">
                        <a href="/">
                            <img class="logo" alt="Logo" src="img/logo.png">
                        </a>
                    </div>
                    <div class="twelve columns tRight nav-holder">
                        <a href="/about" class="mobile-btn"><i class="ti-menu"></i></a>
                        <nav class="menu-holder main-nav">
                            <ul class="menu" id="navbar">
                                <li class="nb"><a href="/">Home</a></li>
                                <li class="nb"><a href="/about">About</a></li>
                                <li class="nb"><a href="/concept">Concept</a></li>
                                <li class="nb"><a href="/individual">Individual</a></li>
                                <li class="nb"><a href="/portrait">Portrait</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <%- body %>
    <!-- /.whois bgGrey ofsTop margTop ofsBottom tCenter -->
    <!--Footer-->
    <footer class="footer-opaque ofsInMTop ofsInMBottom footer">
        <div class="container">
            <div class="eight columns rights">
                <p>© 2017 CAIJIAPEI</p>
            </div>
            <div class="eight columns tRight">
                <ul class="socials-footer socials">
                    <li>WeChat: buzhidao</li>
                    <li><a target="_blank" href="http://weibo.com/u/1733462632">Weibo</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- /#wrapper -->
<script src="js/hm.js"></script>
<!--<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>-->
<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/jquery-migrate-1.2.1.js" type="text/javascript"></script>
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/venobox.min.js" type="text/javascript"></script>
<script src="js/masonry.min.js" type="text/javascript"></script>
<script src="js/spectragram.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/fotorama.js" type="text/javascript"></script>

<script src="js/navbar.js" type="text/javascript"></script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c21854259d54a43e08df0fbb2a80e0cd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


</body>
</html>