<%
    var allType = data.allType;
    var f = data.fotos;
%>

<% include  header.html %>
<script>
    window.onload=function(){
        $('#loading').hide();
        $('#content').show();
    }

</script>
        <div id="loading" class="works margTop ofsBottom tCenter">
            <img style="margin-top: 10%; margin-bottom: 10%" src="/img/loading.gif" alt="">
        </div>
        <section id="content" style="display: none" class="works bgGrey margTop ofsBottom tCenter">
            <div class="container">
                <div class="sixteen columns tCenter bigTitle">
                    <h2 id="type" class="text-uppercase"><%= data.type.name %></h2>
                        <p><%= data.type.des %></p>
                </div>
            </div>
            <div class="container">
                <div class="works-holder clearfix">
                    <div class="row">
                        <div class="row"></div>
<%
    for(var i = 0; i < f.length; i++){
        var path = '"/pic/' + f[i].type + '/' + f[i].name + '"';
        var name = f[i].name.substring(0, f[i].name.lastIndexOf('.'));
        var des = f[i].des
 %>
                            <div>
                                <div class="col-md-3">
                                    <div class="work-img">
                                        <a href=<%- path %> class="venobox vbox-item">
                                            <img alt="" class="" src=<%- path %> >
                                        </a>
                                    </div>
                                    <div class="" style="margin-bottom: 30px">
                                        <div class="info-inner">
                                            <h3><%=name%></h3>
                                            <p><span><%- des%></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
<%
        if(i%4 === 3){
%>
                    </div><div class="row">
<%      }
    }
%>
                    </div>

                </div>
            </div>
        </section>

<% include  footer.html %>


